.label{
    display: flex;
    width: 200px;
    overflow: hidden;
    gap: 10px;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: 40px;
    padding: 12px 48px 12px 14px;
    background-color: var(--white);
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
    0 2px 2px rgba(0,0,0,0.20), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.10),
    0 16px 16px rgba(0,0,0,0.05);
}

.label__name{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.01em;
    color: var(--black);
}

.input{
    display: block;
    width: 100px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.01em;
    color: var(--black);
    border-radius: 10px;
    border: none;
}